.daftar-siswa {
    color: #F3F4F6;
    background-color: gainsboro;
    text-transform: capitalize;
    font-weight: 400;
    font-family: sans-serif;
}

.daftar-siswa p {
    margin: 0;
}

.siswa:hover {
    background-color: #E5E7EB;
    color: #111827;
}